@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,600,700,800,900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
}

/* Background images and colors*/
.home-bg {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.footer-bg {
    background-color: #7d7d7d;
    height: 100px;
}

h2 {
    color: #fff;
}

.title-style {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.definition {
    margin-top: 40px;
}

.def-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
}