@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,600,700,800,900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

main {
    min-height: calc( 100vh - 190px);
}

hr {
    border-top: 3px solid rgba(0,0,0,.1);
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}


/*   Background image home page    */
.home-bg {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}


/* Navigation bar */
.navbar {
    background-color: #3888ff;
}

.navbar-light .navbar-brand {
    color:#fff;
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .help {
    color:#ff0000;
}


.navbar-light .navbar-brand:hover {
    color: #e6e6e6;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e6e6e6;
}

.navbar-light .navbar-nav .help:hover {
    color:#ff3e3e;
}

/*  Jumbotron */
.jumbotron {
    background-color: rgba(0, 0, 0, 0.25);
    margin-left: 200px;
    margin-right: 200px;
}

/*       Images       */
.symptoms {
    margin-top: 10px;
    height: 200px;
    width: 100%;
}

.treatment {
    margin-top: 10px;
    height: 200px;
    width: 100%;
}

.tools-img {
    width: 200px;
    height:200px;
}

.tools-custom {
    background-color:#e4e4e4;
    margin-top:50px;
    padding-bottom: 80px;
}


/*   Cardboards with articles   */
.cardboards {
    margin-top: 40px;
    margin-bottom: 80px;
}

.bg-color {
    background-color: #f0f0f0;
}

.cardboards a {
    text-decoration: none;
}

.symptoms-card {
    border-radius: 10px;
    background-color: #fafbfb;
    box-shadow: 10px 10px 5px #e2e2e2;
}

.treatment-card {
    border-radius: 10px;
    background-color: #fafbfb;
    box-shadow: 10px 10px 5px #e2e2e2;
}

/*    Divs styling     */
.tools-box {
    width: 60%;
    margin-bottom: 80px;
}

.accordion-custom {
    margin-top: 1.5rem;
}



/*   Headings   */
h2 {
    color: #fff;
}

.title-style {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h4 {
    margin-top: 2rem; 
    margin-bottom: 1rem;
    font-weight: 600;
}

h5 {
    margin-top: 2rem; 
    margin-bottom: 1rem;
    font-weight: 600;
}

.journal-heading {
    font-size: 1.25rem;
    font-weight: 700;
}

/*    Paragraphs    */
p {
    line-height: 1.6;
}
.def-title {
    margin-top: 40px;
}

.def-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sym-treat {
    margin-bottom: 80px;
}

/*    Forms    */
.form-custom {
    width: 40%;
}

/*  Font awesome icons  */
.fas {
    font-weight: 500;
    padding-left: 4px;
}

/*   Buttons    */
.btn-outline-light {
    color: #000;
    border-color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

.btn-secondary {
    color: #fff;
    background-color: #f8f9fa;
    border-color: #6c757d;
}

.btn-warning {
    color: #212529;
    background-color: #28a745;
    border-color: #000000;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn-secondary a {
    color: #000;
}

.btn-link {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

/*    Footer    */
.footer {
    background-color: #000;
    color: #fff;
    min-height: 100px;
}

/* Media for responsive design */
@media (max-width: 992px) {
    .jumbotron {
        margin-left: 100px;
        margin-right: 100px;
    }
    .tools-box {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .treatment-card {
        margin-top: 70px;
    }
    .form-custom {
        width: 60%;
    }
    .tfb-custom {
        margin-top: 70px;
    }
    .tools-box {
        width: 100%;
    }
}

@media (max-width:568px) {
    .jumbotron {
        margin-left: 30px;
        margin-right: 30px;
    }

    .form-custom {
        width: 80%;
    }
}

@media (max-width:359px) {
    .jumbotron {
        margin-left: 0px;
        margin-right: 0px;
    }
}



