<nav class="navbar navbar-expand-sm navbar-light">
    {% if 'email' in session %}
    <a class="navbar-brand" href="/dashboard">Dashboard</a>
    {% else %}
    <a class="navbar-brand" href="/">Home</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            {% if 'email' in session %}
            <a class="nav-item nav-link" href="/journal">Journal</a>
            <a class="nav-item nav-link" href="/tfb_cycle">TFB Cycle</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
            <a class="nav-item nav-link help" href="#">Help Guide</a>
            {% else %}
            <a class="nav-item nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link help" href="#">Help Guide</a>
            {% endif %}
        </div>
    </div>
</nav>
