{% extends 'layout.html' %}

{% block body %}
<div class="container sym-treat">
    <h4>Help Guide</h4>
    <p class="help-msg"><strong>If you need urgent help, contact one of these organizations!</strong></p>
    <div class="help-guide">
        <h5>Mind UK</h5>
        <p>0300 123 3393</p>
        <a href="https://www.mind.org.uk/information-support/helplines/" target="_blank">https://www.mind.org.uk/information-support/helplines/</a>
    </div>
    <div class="help-guide">
        <h5>Anxiety UK</h5>
        <p>Advice and support for people living with anxiety.</p>
        <p>03444 775 775</p>
        <a href="https://www.anxietyuk.org.uk/" target="_blank">https://www.anxietyuk.org.uk/</a>
    </div>
    <div class="help-guide">
        <h5>Samaritans</h5>
        <p>24-hour emotional support for anyone who needs to talk.</p>
        <p>116 123</p>
        <a href="https://www.samaritans.org/" target="_blank">Samaritans.org</a>
    </div>
    <div class="help-guide">
        <h5>No Panic</h5>
        <p>Provides a helpline, step-by-step programmes, and support for people with anxiety disorders.</p>
        <p>0844 967 4848</p>
        <a href="https://nopanic.org.uk/" target="_blank">nopanic.org.uk</a>
    </div>
    <div class="help-guide">
        <h5>Improving Access to Psychological Therapies (IAPT)</h5>
        <p>Information about local NHS therapy and counselling services, which you can often self-refer to (England only).</p>
        <a href="https://www.nhs.uk/service-search/find-a-psychological-therapies-service/" target="_blank">https://www.nhs.uk/service-search/find-a-psychological-therapies-service/</a>
    </div>

</div>
{% endblock %}