{% extends 'layout.html' %}

{% block body %}
<main>
    <section class="container-fluid home-bg">
        <div class="row">
            <div class="col title-style">
                <h2 class="text-center">Anxiety disorder treatment techniques</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-lg btn-warning">Create Account</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-lg btn-secondary">Login</button>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row definition">
            <div class="col text-center">
                <h3>What is an anxiety disorder?</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col def-paragraph">
                <p>Occasional anxiety is an expected part of life. You might feel anxious when faced with a problem at
                    work, before taking a test, or before making an important decision. But anxiety disorders involve
                    more than temporary worry or fear. For a person with an anxiety disorder, the anxiety does not go
                    away and can get worse over time. The symptoms can interfere with daily activities such as job
                    performance, school work, and relationships.
                    There are several types of anxiety disorders, including generalized anxiety disorder, panic
                    disorder, and various phobia-related disorders.
                </p>
            </div>
        </div>
    </section>
</main>

{% endblock %}