{% extends 'layout.html' %}

{% block body %}
<main>
    <!--Jumbotron with buttons for register and login-->
    <section class="container-fluid home-bg">
        <div class="jumbotron">
        <div class="row">
            <div class="col title-style">
                <h2 class="text-center">Anxiety disorder treatment techniques</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-lg btn-secondary"><a href="{{ url_for('register') }}">Register</a></button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-lg btn-warning"><a href="{{ url_for('login') }}">Login</a></button>
            </div>
        </div>
    </div>
    </section>
    <!--Section with cards linked to the specific article page-->
    <section class="container">
        <div class="row def-title">
            <div class="col text-center">
                <h3>What is an anxiety disorder?</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 def-paragraph">
                <p>Occasional anxiety is an expected part of life. You might feel anxious when faced with a problem at
                    work, before taking a test, or before making an important decision. But anxiety disorders involve
                    more than temporary worry or fear. For a person with an anxiety disorder, the anxiety does not go
                    away and can get worse over time. The symptoms can interfere with daily activities such as job
                    performance, school work, and relationships.
                    There are several types of anxiety disorders, including generalized anxiety disorder, panic
                    disorder, and various phobia-related disorders.
                </p>
            </div>
        </div>
        <div class="row cardboards justify-content-between">
            <a href="{{ url_for('symptoms') }}">
                <div class="col-md-5 symptoms-card">
                    <img src="../static/images/symptoms.jpg" class="symptoms">
                    <h4>Symptoms</h4>
                    <p>
                        Everyone feels anxious now and then. It’s a normal emotion. For example, you may feel nervous when
                        faced
                        with a problem at work, before taking a test, or before making an important decision.
                    </p>
                    <div class="row">
                        <div class="col text-right">
                            <a href="{{ url_for('symptoms') }}">Read
                                    more<i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('treatment') }}">
                <div class="col-md-5 treatment-card">
                    <img src="../static/images/treatment.jpg" class="treatment">
                    <h4>Treatment</h4>
                    <p>Treating a person with anxiety depends on the nature of the anxiety disorder and individual
                        preferences. Often, treatment will combine different types of therapy and medication.
                    </p>
                    <div class="row">
                        <div class="col text-right">
                            <a href="{{ url_for('treatment') }}">Read
                                    more<i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>
{% endblock %}