{% extends 'layout.html' %}

{% block body %}
<section class="container tools-box">
  <div class="container tools-text">
    <div class="row">
        <div class="col">
            <h4>Personal journal</h4>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Research shows that keeping a journal can help you to <strong>clarify
           your thoughts and feelings</strong>, reduce stress and solve problems more 
           effectively, so it is well worth the effort.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="tools-heading">Previous entries:<p>
      </div>
      <div class="col text-right">
        <button class="btn btn-warning"><a href="{{ url_for('add_journal') }}">Add new entry</a></button>
      </div>
    </div>
    <div class="row accordion-custom">
        <div class="col">
         {% for journal in journals %}
          {% if current_user.email == journal.owner %}
            <div class="accordion" id="accordionExample">
              <div class="card">
                  <div class="card-header" id="heading{{journal._id}}">
                    <h2 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{journal._id}}" aria-expanded="false" aria-controls="collapse{{journal._id}}">
                        {{journal.title}}
                      </button>
                    </h2>
                  </div>
                  <div id="collapse{{journal._id}}" class="collapse" aria-labelledby="heading{{journal._id}}" data-parent="#accordionExample">
                    <div class="card-body">
                      {{journal.body}}
                    </div>
                    <div class="row">
                      <div class="col button-style text-right">
                        <button type="button" class="btn btn-info"><a href="{{url_for('edit_journal', journal_id=journal._id)}}">Edit</a></button>
                        <button type="button" class="btn btn-danger"><a href="{{url_for('delete_journal', journal_id=journal._id)}}">Delete</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
    </div>
  </div>
  </section>

{% endblock %}