{% extends 'layout.html' %}
{% block body %}
<div class="container sym-treat">
    <div class="row">
        <div class="col">
            <img src="../static/images/symptoms.jpg" class="symptoms">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Symptoms</h4>
            <p>
                <strong>Everyone feels anxious now and then. It’s a normal emotion. </strong>For example, you may feel nervous when
                faced
                with a problem at work, before taking a test, or before making an important decision.
                <em>Anxiety disorders are different, though.</em> They are a group of mental illnesses, and the distress they
                cause can keep you from carrying on with your life normally.
                For people who have one, worry and fear are constant and overwhelming, and can be disabling. But
                with
                treatment, many people can manage those feelings and get back to a fulfilling life.</p>
            <h5>Types of Disorders</h5>
            <p>Anxiety disorder is an umbrella term that includes different conditions:
                <strong>Panic disorder.</strong> You feel terror that strikes at random. During a panic attack, you may also <em>sweat,
                have
                chest pain, and feel palpitations</em> (unusually strong or irregular heartbeats). Sometimes you may feel
                like you’re choking or having a heart attack.
                <strong>Social anxiety disorder.</strong>Also called social phobia, this is when you feel overwhelming worry and
                self-consciousness about everyday social situations. You fixate about others judging you or on being
                embarrassed or ridiculed.
                <strong>Specific phobias.</strong>You feel intense fear of a specific object or situation, such as heights or
                flying.
                The fear goes beyond what’s appropriate and may cause you to avoid ordinary situations.
                <strong>Generalized anxiety disorder.</strong> You feel excessive, unrealistic worry and tension with little or no
                reason.</p>
            <h5>Symptoms</h5>
            <p>All anxiety disorders share some general symptoms:</p>
            <ul>
                <em>
                <li>Panic, fear, and uneasiness</li>
                <li>Sleep problems</li>
                <li>Not being able to stay calm and still</li>
                <li>Cold, sweaty, numb or tingling hands or feet</li>
                <li> Shortness of breath</li>
                <li>Heart palpitations</li>
                <li>Dry mouth</li>
                <li>Nausea</li>
                <li>Tense muscles</li>
                <li>Dizziness</li>
                </em>
            </ul>
            <h5>Causes</h5>
            <p>Researchers don’t know exactly what brings on anxiety disorders. Like other forms of mental illness,
                they stem from a combination of things, including changes in your brain and environmental stress,
                and
                even your genes. The disorders can run in families and could be linked to faulty circuits in the
                brain
                that control fear and other emotions.</p>
            <h5>Diagnosis</h5>
            <p>If you have symptoms, your doctor will examine you and ask for your medical history. She may run
                tests
                to rule out medical illnesses that might be causing your symptoms. No lab tests can specifically
                diagnose anxiety disorders.
            </p>
        </div>
    </div>
</div>

{% endblock %}