{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>TFB Cycle (Toughts, Feelings, Behaviour</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
          {% for tought in toughts %}
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{tought.situation}}
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      {{tought.feeling}}
                    </div>
                    <div class="card-body">
                      {{tought.rate_feeling}}
                    </div>
                    <div class="card-body">
                      {{tought.physical}}
                    </div>
                    <div class="card-body">
                      {{tought.behaviour}}
                    </div>
                    <div class="card-body">
                      {{tought.hot_tought}}
                    </div>
                    <div class="card-body">
                      {{tought.evidence}}
                    </div>
                    <div class="card-body">
                      {{tought.counter_evidence}}
                    </div>
                    <div class="card-body">
                      {{tought.alternative}}
                    </div>
                    
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-dark"><a href="{{url_for('edit_tought', tought_id=tought._id)}}">Edit</a></button>
                      </div>
                      <div class="col">
                        <button type="button" class="btn btn-info"><a href="{{url_for('delete_tought', tought_id=tought._id)}}">Delete</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}