{% extends 'layout.html' %}

{% block body %}
<section class="container tools-box">
  <div class="container tools-text">
    <div class="row">
        <div class="col">
            <h4>My TFB Cycles</h4>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p><strong>A hot thought</strong> is the situation-specific thought that carries the strongest emotional charge.
           <strong>It drives emotion in your TFB cycle.</strong> One way to recognise a hot thought is that it tends to match your mood.
        </p>
        <p>
          To come up with useful alternative thoughts, do the following:
        </p>
        <ul>
          <em>
          <li>
            Spot your hot thought.
          </li>
          <li>
            Examine how fair, balanced and accurate this thought is.
          </li>
          <li>
            Replace unfair and inaccurate thoughts with alternative fairer thoughts.
          </li>
          </em>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="tools-heading">Previous entries:<p>
      </div>
      <div class="col text-right">
        <button class="btn btn-warning"><a href="{{ url_for('add_tought') }}">Add new entry</a></button>
      </div>
    </div>
    <!--Accordion that displays users inputs-->
    <div class="row">
          <div class="col">
            <!--Check if the current user email is found in the database collection and 
            display only entries from the specific user-->
            {% for tought in toughts %}
              {% if current_user.email == tought.owner %}
              <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header card-header_toughts" id="heading{{tought._id}}">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{tought._id}}" aria-expanded="true" aria-controls="collapse{{tought._id}}">
                          {{tought.situation}} <span class="label">{{tought.datetime}}</span>
                        </button>
                      </h2>
                    </div>
                
                    <div id="collapse{{tought._id}}" class="collapse" aria-labelledby="heading{{tought._id}}" data-parent="#accordionExample">
                      <div class="tfb-row">
                        <span class="label">Feeling:</span>
                        {{tought.feeling}}
                      </div>
      
                      <div class="tfb-row">
                        <span class="label">Rate feeling:</span>
                        {{tought.rate_feeling}}
                      </div>
                      
                      <div class="tfb-row">
                        <span class="label">Physical reaction:</span>
                        {{tought.physical}}
                      </div>
                      
                      <div class="tfb-row">
                        <span class="label">Behaviour:</span>
                        {{tought.behaviour}}
                      </div>

                      <div class="tfb-row">
                        <span class="label">Hot tought:</span>
                        {{tought.hot_tought}}
                      </div>

                      <div class="tfb-row">
                        <span class="label">Evidence that support the hot tought:</span>
                        {{tought.evidence}}
                      </div>

                      <div class="tfb-row">
                        <span class="label">Counter Evidence for the hot tought:</span>
                        {{tought.counter_evidence}}
                      </div>

                      <div class="tfb-row">
                        <span class="label">Alternative/Balanced toughts:</span>
                        {{tought.alternative}}
                      </div>
                      
                      <div class="row">
                        <div class="col button-style text-right">
                          <button type="button" class="btn btn-info"><a href="{{url_for('edit_tought', tought_id=tought._id)}}">Edit</a></button>
                          <button type="button" class="btn btn-danger"><a href="{{url_for('delete_tought', tought_id=tought._id)}}">Delete</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
          </div>
      </div>
  </div>
</div>
</section>
{% endblock %}