{% extends 'layout.html' %}
{% block body %}

<div class="container sym-treat">
    <h4>Treatment</h4>
    <p>Treating a person with anxiety depends on the nature of the anxiety disorder and individual
        preferences. Often, <em>treatment</em> will combine different types of <strong>therapy and medication.</strong></p>
    <h5>Self-treatment</h5>
    <p>In some cases, a person can manage anxiety at home without clinical supervision. However, this may be
        limited to shorter and less severe periods of anxiety.
        Doctors recommend several exercises and techniques to cope with brief or focused bouts of anxiety,
        including:
    </p>
    <ul>
        <li><strong>Stress management:</strong> Limit potential triggers by managing stress levels. Keep an eye on pressures
            and deadlines, organize daunting tasks in to-do lists, and take enough time off from
            professional or educational obligations.
        </li>
        <li><strong>Relaxation techniques:</strong> Certain measures can help reduce signs of anxiety, including
            deep-breathing exercises, long baths, meditation, yoga, and resting in the dark.
        </li>
        <li><strong>Exercises to replace negative thoughts with positive ones:</strong> Write down a list of any negative
            thoughts, and make another list of positive thoughts to replace them. Picturing yourself
            successfully facing and conquering a specific fear can also provide benefits if the anxiety
            symptoms link to a specific stressor.
        </li>
        <li><strong>Support network:</strong> Talk to a person who is supportive, such as a family member or friend. Avoid
            storing up and suppressing anxious feelings as this can worsen anxiety disorders.
        </li>
        <li><strong>Exercise:</strong> Physical exertion and an active lifestyle can improve self-image and trigger the
            release of chemicals in the brain that stimulate positive emotions.
        </li>
    </ul>
    <h5>Counselling and therapy</h5>
    <p>This might include psychotherapy, such as cognitive behavioral therapy (CBT) or a combination of
        therapy and counseling.
        <strong>CBT</strong> aims to recognize and alter the harmful thought patterns that can trigger an
        anxiety disorder and troublesome feelings, limit distorted thinking, and change the scale and
        intensity of reactions to stressors.
        This helps people manage the way their body and mind react to certain triggers.
        <strong>>Psychotherapy</strong> is another treatment that involves talking with a trained mental
        health professional and working to the root of an anxiety disorder. Sessions might explore the
        triggers of anxiety and possible coping mechanisms.
    </p>
    <h5>Medications</h5>
    <p>Several types of medication can support the treatment of an anxiety disorder.
        Other medicines might help control some of the physical and mental symptoms. These include:
        <em>tricyclics, benzodiazepines, anti-depressants</em>.Stopping some medications, especially
        anti-depressants, can cause withdrawal symptoms, including brain zaps. These are painful jolts in
        the head that feel like shocks of electricity.
    </p>
    <p><strong>On this site we will concentrate only on treatments that doesn't include medication!</strong>
    </p>
    <h5>Prevention</h5>
    <p>Although anxious feelings will always be present in daily life, there are ways to reduce the risk of
        a full-blown anxiety disorder.
        Taking the following steps will help keep anxious emotions in check and prevent the development of a
        disorder, including:
    </p>
    <ul>
        <em>
        <li>Consume less caffeine, tea, soda, and chocolate.</li>
        <li>Check with a doctor or pharmacist before using over-the-counter (OTC) or herbal remedies for
            chemicals that might make anxiety worse.</li>
        <li>Keep up a balanced, nutritious diet.</li>
        <li>Regular sleep patterns can be helpful.</li>
        <li>Avoid alcohol, cannabis, and other recreational drugs.</li>
        </em>   
    </ul>
</div>

{% endblock %}